<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>s-ft f-cus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">	</head>
    <link rel="stylesheet" href="https://use.typekit.net/cnt8bwr.css">

</head>

    <body>    

    <h1 id="day">{{today}}<br></h1>
    <!-- <h1 id="day">s-ft f-cus<br></h1> -->

    <div id="empty">
    </div>
    
    <div id="box"></div>

    </body>

    <!-- https://www.youtube.com/watch?v=AD5hxsFJc4o -->
    <script src = "static/main.js"></script>

</html>